.blockDiv{
	width:100%;
	height:100%;
	position: fixed;
	top:0;
	left:0;
}
.blockDiv div{
	width:100%;
	height:100%;
	background-color: #000;
	opacity: 0.6;
	z-index: 3;
	position: relative;
}
.blockDiv img{
	margin: auto;
 	position: absolute;
 	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 5;

	-webkit-box-shadow:0 0 10px 10px #555;
 	-moz-box-shadow:0 0 10px 10px #555;
 	box-shadow:0 0 10px 10px #555;

	animation: 0.5s imgEmerge cubic-bezier(.59,0,.41,1);
	-moz-animation: 0.5s imgEmerge cubic-bezier(.59,0,.41,1);	/* Firefox */
	-webkit-animation: 0.5s imgEmerge cubic-bezier(.59,0,.41,1);/* Safari 和 Chrome */
	-o-animation: 0.5s imgEmerge cubic-bezier(.59,0,.41,1);
}

.imgclass{
	border: 1px #000 solid;
}

.btnclass{
	background: #2BAEFC;
	color:white;
	border:0px;
	width:150px;
	height:30px;
}

.btnclass:hover{
	cursor: pointer;
}

.imgDisappear {
	animation: 0.5s imgDisappear cubic-bezier(.59,0,.41,1)!important;
	-moz-animation: 0.5s imgDisappear cubic-bezier(.59,0,.41,1)!important;/* Firefox */
	-webkit-animation: 0.5s imgDisappear cubic-bezier(.59,0,.41,1)!important;/* Safari 和 Chrome */
	-o-animation: 0.5s imgDisappear cubic-bezier(.59,0,.41,1)!important;
}



/*CSS动画*/
@keyframes imgEmerge
{
	0% {opacity: 0; transform: scale(.3, .3);}
	100% {opacity: 1}
}

@-moz-keyframes imgEmerge
{
	0% {opacity: 0; transform: scale(.3, .3);}
	100% {opacity: 1}
}
@-webkit-keyframes imgEmerge
{
	0% {opacity: 0; -webkit-transform: scale(.3, .3);}
	100% {opacity: 1}
}

@-o-keyframes imgEmerge
{
	0% {opacity: 0; transform: scale(.3, .3);}
	100% {opacity: 1}
}

@keyframes imgDisappear {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale(.3, .3);
  }

  90% {
    opacity: 0;
  }
}
