.blockDiv{
	width:100%;
	height:100%;
	position: fixed;
	top:0;
	left:0;
}
.blockDiv div{
	width:100%;
	height:100%;
	background-color: #000;
	opacity: 0.6;
	z-index: 3;
	position: relative;
}
.blockDiv img{
	margin: auto;
 	position: absolute;
 	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 5;

	-webkit-box-shadow:0 0 10px 10px #555;
 	-moz-box-shadow:0 0 10px 10px #555;
 	box-shadow:0 0 10px 10px #555;

	animation: 0.5s imgEmerge cubic-bezier(.59,0,.41,1);
	-moz-animation: 0.5s imgEmerge cubic-bezier(.59,0,.41,1);	/* Firefox */
	-webkit-animation: 0.5s imgEmerge cubic-bezier(.59,0,.41,1);/* Safari 和 Chrome */
	-o-animation: 0.5s imgEmerge cubic-bezier(.59,0,.41,1);
}

.imgChange{
	position: absolute;
	cursor: pointer;
	font-size: 40px!important;
	z-index: 10;
	background:#ccc;
	opacity: 0.5;
	padding:0 15px;
	line-height: 70px!important;
	top:50%;
	width:15px;
	height:70px;
}
.imgChange:hover{
	opacity: 0.7;
}
.angle-left{
	left:5px;
}
.angle-right{
	right:5px;
}



.imgclass{
	border: 1px #fff solid;
}

.btnclass{
	background: #2BAEFC;
	color:white;
	border:0px;
	width:150px;
	height:30px;
}

.btnclass:hover{
	cursor: pointer;
}

.imgDisappear {
	animation: 0.5s imgDisappear cubic-bezier(.59,0,.41,1)!important;
	-moz-animation: 0.5s imgDisappear cubic-bezier(.59,0,.41,1)!important;/* Firefox */
	-webkit-animation: 0.5s imgDisappear cubic-bezier(.59,0,.41,1)!important;/* Safari 和 Chrome */
	-o-animation: 0.5s imgDisappear cubic-bezier(.59,0,.41,1)!important;
}

.hideImg{
	display: none;
}
.showImg{
	display: block;
}



/*CSS动画*/
@keyframes imgEmerge
{
	0% {opacity: 0; transform: scale(.3, .3);}
	100% {opacity: 1}
}

@-moz-keyframes imgEmerge
{
	0% {opacity: 0; transform: scale(.3, .3);}
	100% {opacity: 1}
}
@-webkit-keyframes imgEmerge
{
	0% {opacity: 0; -webkit-transform: scale(.3, .3);}
	100% {opacity: 1}
}

@-o-keyframes imgEmerge
{
	0% {opacity: 0; transform: scale(.3, .3);}
	100% {opacity: 1}
}

@keyframes imgDisappear {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale(.3, .3);
  }

  90% {
    opacity: 0;
  }
}
/*切换动画*/
@keyframes zoomOutRight {
  40% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate(2000px, 0);
    transform-origin: right center;
  }
}

.zoomOutRight {
  animation: 0.5s zoomOutRight linear!important;
}

@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0);
  }

  to {
    opacity: 0;
    transform: scale(.1) translate3d(-2000px, 0, 0);
    transform-origin: left center;
  }
}

.zoomOutLeft {
  animation: 0.5s zoomOutLeft cubic-bezier(.59,0,.41,1)!important;
}

@keyframes zoomInLeft {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInLeft {
  animation: 0.5s zoomInLeft cubic-bezier(.59,0,.41,1)!important;
}

@keyframes zoomInRight {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInRight {
  animation: 0.5s zoomInRight cubic-bezier(.59,0,.41,1)!important;
}
